.info {
    flex-direction: column;
}

.form-city {
    padding: 25px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .label-city {
        display: block;
        margin-bottom: 8px;
        font-size: $city-font-size;
        font-weight: $default-font-weight;
        color: $default-white;
    }

    .search-city { 
        display: flex;
        padding-bottom: 30px;
        
        #searchbar {
            height: 40px;
            width: 250px;
            outline: none;
            border: none;
            border-radius: 5px;
            font-size: $font-size-xl;
            padding-left: 8px;
            padding-right: 8px;
            margin-right: 5px;
        }

        .search-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            border: none;
            width: 100px;
            font-size: $font-size-xl;
            color: $default-white;
            background-color: $default-blue;
            font-weight: bold;
            -webkit-tap-highlight-color: transparent;
            transition: .3s;
            cursor: pointer;

            &:hover {
                background-color: #177bcc;
            }
        }
    }

    .show-city {
        border-top: 1px solid $default-gray;
        padding-top: 20px;
    }

    .city {
        margin-bottom: 10px;
        font-size: $city-font-size;
        font-weight: 600;
        color: $default-white;
    }

    .temperature {
        display: flex;
        flex-direction: column;
        align-items: center;

        .degree {
            font-size: 60px;
            font-weight: bold;
            color: $default-white;
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .info {
        width: 90%;
    }

    .form-city {
        padding: 20px 12px 20px 12px;
        margin: 30px 0px 30px 0px;

        .label-city {
            font-size: $font-size-xl;
        }

        .search-city {     
            #searchbar {
                width: 70%;
            }

            .search-btn {
                font-size: 14px;
            }
        }

        .city {
            
            margin-bottom: 20px;
        }
    }

}