header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: $default-blue;

    p {
        color: $default-white;
        font-size: 42px;
        font-weight: $default-font-weight;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    header {
        height: 50px;
        
        p {
            font-size: 24px;
        }
    }
}