@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
header p {
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header {
    height: 60px;
  }
  header p {
    font-size: 32px;
  }
}
.languages {
  display: flex;
  justify-content: flex-end;
}
.languages .pt-br,
.languages .en-us {
  height: auto;
  width: 40px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.languages .pt-br {
  margin-right: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main.languages {
    margin-right: 15px;
  }
}
.info {
  flex-direction: column;
}

.form-city {
  padding: 25px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.form-city .label-city {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.form-city .search-city {
  display: flex;
  padding-bottom: 30px;
}
.form-city .search-city #searchbar {
  height: 40px;
  width: 250px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}
.form-city .search-city .search-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: none;
  width: 100px;
  font-size: 16px;
  color: #ffffff;
  background-color: #198FF0;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}
.form-city .search-city .search-btn:hover {
  background-color: #177bcc;
}
.form-city .show-city {
  border-top: 1px solid #828288;
  padding-top: 20px;
}
.form-city .city {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}
.form-city .temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-city .temperature .degree {
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .info {
    width: 90%;
  }
  .form-city {
    padding: 20px 12px 20px 12px;
    margin: 30px 0px 30px 0px;
  }
  .form-city .label-city {
    font-size: 16px;
  }
  .form-city .search-city #searchbar {
    width: 70%;
  }
  .form-city .search-city .search-btn {
    font-size: 14px;
  }
  .form-city .city {
    margin-bottom: 20px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 80px;
  width: 100%;
  margin-top: auto;
}
footer span {
  color: #ffffff;
}
footer span a {
  margin-left: 5px;
  text-decoration: none;
  color: #828288;
  transition: 0.3s;
}
footer span a:active {
  color: #2f7ebe;
}
footer span a:hover {
  color: #ccc;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 50px;
    justify-content: center;
  }
}
body {
  font-family: "Nunito";
  background-color: #EAEAEB;
}

.main {
  display: flex;
  justify-content: center;
  margin: 0 120px;
}

#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */