@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #198FF0;
}
header p {
  color: #ffffff;
  font-size: 42px;
  font-weight: 600;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  header p {
    font-size: 24px;
  }
}
.form-city {
  margin-top: 45px;
  height: 300px;
  background-color: #ffffff;
  width: 350px;
  border-radius: 10px;
  padding: 25px;
}
.form-city .label-city {
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  color: #828288;
}
.form-city .search-city {
  display: flex;
  padding-bottom: 30px;
}
.form-city .search-city #searchbar {
  height: 35px;
  width: 180px;
  outline: none;
  border: 1px solid #53adf7;
  border-radius: 8px;
  font-size: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 5px;
}
.form-city .search-city .search-btn {
  border-radius: 8px;
  border: none;
  width: 95px;
  font-size: 16px;
  color: #ffffff;
  background-color: #198FF0;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.form-city .search-city .search-btn:hover {
  background-color: #177bcc;
}
.form-city .show-city {
  border-top: 1px solid #EAEAEB;
  padding-top: 20px;
}
.form-city .city {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  color: #828288;
}
.form-city .temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-city .temperature .degree {
  font-size: 60px;
  font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .form-city {
    width: 80%;
    padding: 20px;
    margin-top: 30px;
  }
  .form-city .label-city {
    font-size: 16px;
  }
  .form-city .search-city #searchbar {
    width: 150px;
  }
  .form-city .search-city .search-btn {
    font-size: 14px;
  }
  .form-city .city {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  background-color: #198FF0;
  bottom: 0;
  position: absolute;
}
footer span {
  color: #ffffff;
}
footer span a:active {
  color: #2f7ebe;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  footer {
    height: 50px;
  }
}
body {
  font-family: "Nunito";
  background-color: #EAEAEB;
}

.main {
  display: flex;
  justify-content: center;
  margin: 0 120px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
